.header {
  height: 100px;
  background-color: black;
  margin-bottom: 10px;
  color: white;
}

.content {
  height: 500px;
  background-color: black;  
  color: white;
}

.footer {
  margin-top: 10px;
  height: 100px;
  color: white;
  background-color: black;
}

 {
  
}

.error {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 100pt; /* Размер шрифта в пунктах */ 
  text-align: center
}

@media (max-width: 1160px) {

  .content {
    width: 1500px;
  }

}